footer .button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: 4rem;
  background-color: var(--bg-button-nav);
  color: var(--text-color-button);
  font: var(--text-span-sm);
  font-weight: 600;
  letter-spacing: 0.06rem;
  text-transform: uppercase;
  width: 16.3rem;
  height: 3rem;
  border-radius: 2rem;
  cursor: pointer;
}

footer .button:hover {
  background-color: var(--bg-button-hover);
}