* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: 'Roboto', sans-serif;
  --h1: 500 1.5rem/135% var(--font-family);
  --h2: 400 1rem/140% var(--font-family);

  --text-color-primary: #FFFFFF;
  --text-color-secondary: #232225;
  --text-color-span: #B8B8B8;
  --text-color-description: #ACACAC;
  --text-color-subtitle: #545454;
  --text-color-action: #CBCBCB;
  --text-color-button: #181818;
  --text-content-hover: #1DBBA5;

  --text-span-xsm: 300 0.6rem var(--font-family);
  --text-span-sm: 300 0.875rem var(--font-family);
  --text-span: 300 1rem var(--font-family);
  --text-span-md: 300 1.25rem var(--font-family);
  --text-span-xl: 300 2rem var(--font-family);

  --bg-color: #232225;
  --bg-color-nav: #302f2f;
  --bg-button: #1DBBA5;
  --bg-button-nav: #B8B8B8;
  --bg-link: #1DBBA5;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color-primary);
  display: grid;
  grid-template-columns: 325px 990px;
}

#container-nav {
  background-color: var(--bg-color-nav);
  width: 20.3rem;
  height: 59.6rem;
  padding: 2rem;
}

.content {
  padding-block: 2rem;
}

.content .content-list img {
  color: var(--text-color-span);
  margin-right: 0.75rem;
}

.content .content-list{
  font: var(--text-span-sm);
  color: var(--text-color-span);
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 48px;
}

.content-list:nth-child(1) {
  color: var(--text-content-hover);
}
