#container {
  background-color: var(--bg-color);
}

#container-upload {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 5rem;
}

.uploads {
  font: var(--text-span-xl);
  font-weight: 800;
  color: var(--text-color-primary);
}

.upload-button {
  background-color: var(--bg-button);
  color: var(--text-color-secondary);
  font: var(--text-span);
  font-weight: 800;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  border:none;
  border-radius: 2rem;
  cursor: pointer;
}

.upload-button:hover {
  background-color: var(--bg-button-hover);
}

#container-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-top: 3rem;
  border: solid 1px var(--bg-border);
  border-radius: 0.2rem;
  padding: 1rem;
  height: 3.5rem;
}

#container-search input {
  background-color: var(--bg-color);
  border: none;
  font: var(--text-span);
  color: var(--text-color-span);
  font-weight: 800;
  letter-spacing: 0.1rem;
}